# Documentation
HELP.md

# Gradle-specific exclusions, allowing essential files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# STS (Spring Tool Suite) exclusions
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA exclusions
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans exclusions
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/

# VS Code exclusions
.vscode/
